:root {
  --bg: #FEFAF6;  /* background text */
  --fg: #535353;  /* content text */             
  --muted: #803D3B; /* muted text */          
  color: var(--fg);           /* Default text color */
  background-color: var(--bg); /* Default background */
}

::selection {
  background-color: var(--border-contrast); 
  color: var(--fg);                        
}

.muted-image {
  filter: grayscale(70%);
  transition: filter 0.3s ease;
}

.muted-image:hover {
  filter: grayscale(0%);
}

a {
  color: #8D493A; /* for links */
}

.text-muted {
  color: var(--muted); 
}

a:hover {
  color: #535353;       /* fg, on hover*/
  background-color: #F8EDE3;
}

a::before {
  content: "["; /* Stylistic brackets around links */
}

a::after {
  content: "]"; /* Stylistic brackets around links */
}

