:root {
  --border-contrast: 222.2 47.4% 11.2%;
  --bg: #111111;
  --fg: #eeeeee;
  --muted: 215.4 16.3% 46.9%;
  color: #e0def4;
  background-color: #1f1d2e;
}

::selection {
  background-color: hsl(var(--border-contrast));
  color: white;
}

.muted-image {
  filter: grayscale(70%);
  transition: filter 0.3s ease;
}

.about-me-box {
  background-color: #1f1d2e;
  border-color: #f4ede8;

}

.label-heading-box {
  background-color: #1f1d2e;
}

.label-box-fill {
  border-color: #f4ede8;
  background-color: #1f1d2e;
}


.muted-image:hover {
  filter: grayscale(0%);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

a {
  color: #f6c177;
}

.text-muted {
  color: #908caa;
}

a:hover {
  color: #2a273f;
  background-color: #f6c177;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}
