---
import Link from "./ui/link.astro";
---

<div>
    <p class="font-semibold text-lg">Sushant Mishra</p>
    <p class="pt-4">
        I’m a full-stack developer from Telangana, India. I build web and
        desktop applications. When I’m not coding, I’m working on design or
        exploring computer networks and backend systems.
    </p>
    <div class="pt-4 flex flex-col gap-2 text-sm">
        <div>
            Reach out: <span>
                <Link href="mailto:sushantsgml@gmail.com"
                    >sushantsgml@gmail.com</Link
                > or @sushant_mishra on Discord.
            </span>
        </div>
        <div>
            Find me: &nbsp;
            <span>
                <Link href="https://github.com/Sushants-Git">GitHub</Link>

                <Link href="https://x.com/sushantstwt">Twitter</Link>

                <Link href="https://www.linkedin.com/in/sushants-li/"
                    >LinkedIn</Link
                >

                <Link
                    href="https://drive.google.com/file/d/1xG4H3BSXjNGph9ytU6vIrDUyHg113G4z/view?usp=sharing"
                    >Resume</Link
                >
            </span>
        </div>
    </div>
</div>
