---
import socialData from "../constants/socials.json"
import { Icon } from "astro-icon/components";
import { RiArrowRightUpLine } from "react-icons/ri";

const socials = socialData
---


<div>

		<h1 class="text-primary font-serif text-[2.5rem] tracking-tight">Siddarth Gundu</h1>
  	<div class="flex items-center gap-1.5 font-medium tracking-tight">
	</div>
		<div class="socials grid w-fit grid-cols-3 gap-2 pt-2 tracking-tight md:flex md:flex-row md:items-start">
		{
			socials.map((social) => (
				<a
					href={social.url}
					target={social.target}
					rel={social.target === "_blank" ? "noopener noreferrer" : undefined}
					class="group md:hover:text-primary flex items-center underline-offset-4 transition duration-150 ease-in-out md:hover:underline">
					<Icon name={social.icon} size={14} class="mr-1.5" />
					<span class="text-sm">{social.name}</span>
					<RiArrowRightUpLine className="opacity-0 transition-opacity duration-150 md:group-hover:opacity-100" />
				</a>
			))
		}
	</div>
  <p class="text-justify bio pt-4 text-sm">
  Software engineer focused on <span class="text-black">observability</span>.
  I enjoy attending tech conferences and geeking out on tech in general.
  I'm currently contributing to
  <a
    href="https://github.com/cortexproject/cortex"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary hover:underline underline-offset-4"
  >
    Cortex metrics
  </a>.
</p>

</div>
