---
import Link from "./ui/link.astro";
---

<div>
    <p class="font-bold text-lg">Siddarth Gundu</p>
            <span>
                <Link href="https://github.com/siddarth2810">GitHub</Link>

                <Link href="https://x.com/Siddarth_0910">Twitter</Link>

                <Link href="https://www.linkedin.com/in/siddarth2810"
                    >LinkedIn</Link
                >

                <Link
                    href="https://drive.google.com/file/d/11UNCwJl6d4WaPi8ysLVoZd3NFcXyYKIC/view?usp=sharing"                    >Resume</Link

                >
            </span>
    <p class="pt-4">
        Hi there! I'm a software developer from Hyderabad, India. I spend a significant amount of time coding and playing with computers.<br> <br>
        I enjoy attending tech conferences and geeking out on tech in general.
    </p>
    <div class="pt-4 flex flex-col gap-2 text-sm">
        <div>
            I write tech blogs at <span>
                <Link href="https://dev.to/siddarth2810/">Dev.to</Link>
            </span>
        </div>
    </div>
</div>
