<section class="pt-8">
  <h2 class="text-secondary font-serif text-2xl tracking-tight font-medium">Experience</h2>

  <div class="pt-2">
    <div class="flex flex-col gap-2">
      <h3>
        <a class="text-normal font-medium md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline"
          href="https://www.linuxfoundation.org/">The Linux Foundation</a>
      </h3>
      <p class="text-sm">
        Worked as a <span class="text-black">Linux Kernel Mentee, </span>
        learnt a lot about Linux ecosystem and contributed to the mainline
        <span class="text-black">Linux Kernel</span>
      </p>
      <p class="bio text-sm">
        Check out my
        <a href="https://dev.to/siddarth2810/my-linux-kernel-mentorship-experience-4870"
          class="md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline">
          Blog
        </a>
		on contributing to the kernel.
      <p class="bio text-sm">
		Here is my
        <a href="https://drive.google.com/file/d/1Gs2zXcMmGuG92TIc4lIS9-nuLpzvgRvL/view?usp=drive_link"
          class="md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline">
          Mentorship Report
        </a>
      </p>
      </p>
    </div>
  </div>

  <div class="pt-3">
    <div class="flex flex-col gap-2">
      <h3>
        <a class="text-normal font-medium md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline"
          href="https://www.makerglobal.in/">Maker Global</a>
      </h3>
      <p class="text-sm">
	  Improved UI, integrated APIs, and implemented authentication on the company website.
      </p>
    </div>
  </div>
</section>

