<section class="pt-8">
  <h2 class="text-secondary font-serif text-2xl tracking-tight font-medium">Experience</h2>

  <div class="pt-3">
    <div class="flex flex-col gap-2">
  <div class="flex items-baseline gap-2">
        <h4 class="text-primary">Tower Cloud</h4>
        <p class="text-xs text-muted">Sept 25 – Present</p>
      </div>
      <p class="text-sm">
        We’re building our own cloud platform !
      </p>
      <p class="text-sm">
        I set up Prometheus and Loki for monitoring and logging, integrated APIs, and built dashboards to display metrics from various services.
      </p>
    </div>
  </div>

  <div class="pt-4">
    <div class="flex flex-col gap-2">
  <div class="flex items-baseline gap-2">
  <h4 class="text-primary">The Linux Foundation</h4>
  <p class="text-xs text-muted">Mar 25 – May 25</p>
</div>

      <p class="text-sm">
        Worked as a <span class="text-black">Linux Kernel Mentee</span>, learned a lot about the Linux ecosystem, and contributed patches to the mainline <span class="text-black">kernel</span>.
      </p>
      <p class="bio text-sm">
        Check out my
        <a
          href="https://dev.to/siddarth2810/my-linux-kernel-mentorship-experience-4870"
          class="md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline"
        >
          blog
        </a>
        on contributing to the kernel, and my
        <a
          href="https://drive.google.com/file/d/1Gs2zXcMmGuG92TIc4lIS9-nuLpzvgRvL/view?usp=drive_link"
          class="md:hover:text-primary underline-offset-4 transition duration-150 ease-in-out md:hover:underline"
        >
          mentorship report
        </a>.
      </p>
    </div>
  </div>
</section>
