---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p class="flex items-center gap-2">
            <Link href="https://www.makerglobal.in/">The Linux Foundation</Link>
            <span class="text-muted text-xs inline-block"
                >- 2025 May, 3 months</span
            >
        </p>
        <p class="text-muted text-sm">Linux Kernel Mentee</p>
        <p class="text-sm">
	Contributed patches to the mainline Linux kernel.
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p class="flex items-center gap-2">
            <Link href="https://www.makerglobal.in/">Maker Global</Link>
            <span class="text-muted text-xs inline-block"
                >- 2023 Aug, 8 months</span
            >
        </p>
        <p class="text-muted text-sm">software development intern</p>
        <p class="text-sm">
		Mostly worked on Front-End, writing APIs and <br>
		creating responsive websites. 
        </p>
        <p class="text-sm">
		Implemented  secure authentication using Bcrypt and JWT
        </p>
    </div>
</section>
