---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/Sushants-Git/locus">locus</Link>
        </p>
        <p class="text-sm">
            Intelligent activity tracker that helps you understand and improve
            your focus habits.
        </p>
        <p class="text-muted text-sm">Tech used: tauri, rust, react, linux</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://github.com/Sushants-Git/locus"
                >GitHub</Link
            >
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/Sushants-Git/Deja-Vu">deja-vu</Link>
        </p>
        <p class="text-sm">
            AI powered chrome extension which offers a seamless way to find
            bookmarks.
        </p>
        <p class="text-muted text-sm">
            Tech used: transformers.js, chrome extension
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=1E9y_XeGhkY"
                >Video</Link
            >
            <Link href="https://github.com/Sushants-Git/Deja-Vu">GitHub</Link>
        </p>
    </div>
</section>
