---
import Link from "./ui/link.astro";
import VideoPlayer from "../components/video-player.tsx";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/siddarth2810/AskMyDoc_v2">AskMyDoc</Link>
        </p>
        <p class="text-sm">
			 A full-stack AI-driven PDF QA assistant that interprets user queries and retrieves contextually relevant
answers
        </p>
        <p class="text-muted text-sm">
		Tech used: LangChain, FAISS, Next.js, FAST API, Gen AI.
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://youtu.be/2bEsCRoJWOI?si=uVRSxyemsxSgAnMe"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/AskMyDoc_v2">GitHub</Link>
                <div>
            <VideoPlayer
                title="blast-box"
                src="https://youtu.be/2bEsCRoJWOI?si=uVRSxyemsxSgAnMe"
                client:load
            />
        </div>
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/siddarth2810/blast-box">Blast-Box</Link>
        </p>
        <p class="text-sm">
            A real-time multiplayer shooting game inspired from the game diep.io.
        </p>
        <p class="text-muted text-sm">
            Tech used: uWebSockets, p5.js, azure
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=pZu6XvT-ILk"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/blast-box">GitHub</Link>
                <div>
            <VideoPlayer
                title="blast-box"
                src="https://www.youtube.com/watch?v=pZu6XvT-ILk"
                client:load
            />
        </div>
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://devfolio.co/projects/yaash-yet-another-ai-shell-192b">NAASH (Not another AI shell)</Link>
        </p>
        <p class="text-sm">
            An AI powered shell to make your terminal workflow even faster.
        </p>
		    <p class="text-sm">
            Participated as a team and won <Link
                href="https://devfolio.co/projects/yaash-yet-another-ai-shell-192b"
                >HackThisFall 2024 Virtual</Link
            > and received a prize of $1000 USD.
        </p>
        <p class="text-muted text-sm">Tech used: TypeScript, CLI , OpenAI API, GeminiAPI</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=6xZ1Gxxiu1U"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/team-gap"
                >GitHub</Link
            >
        </p>
                <div>
            <VideoPlayer
                title="NAASH"
                src="https://www.youtube.com/watch?v=6xZ1Gxxiu1U"
                client:load
            />
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/siddarth2810/SnippetsSafe">Snippets Safe</Link>
        </p>
        <p class="text-sm">
			Easy tool designed to efficient store and organize code snippets
        </p>
		   <p class="text-sm">
            Participated as a team and won <Link
                href="https://frosthacks.devpost.com/"
                >Frost Hacks 2024 In-Person Hackathon</Link
            > and received a prize of 12,000 INR.
        </p>
        <p class="text-muted text-sm">
		Tech used: react, mongodb, hugging face
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://youtu.be/dL4a-QIyANA?si=PqqRtYx1Mvape71M"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/SnippetsSafe">GitHub</Link>
                <div>
            <VideoPlayer
                title="Snippet safe"
                src="https://youtu.be/dL4a-QIyANA?si=PqqRtYx1Mvape71M"
                client:load
            />
        </div>
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/siddarth2810/rust-compiler">Compiler</Link>
        </p>
        <p class="text-sm">
             Compiles .teeny files into C, and then uses GCC to compile the C code into executables.
        </p>
        <p class="text-muted text-sm">Tech used: rust, gcc, bash, linux</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://github.com/siddarth2810/rust-compiler"
                >GitHub</Link
            >
        </p>
    </div>
</section>
