---
import Link from "./ui/link.astro";
---

<section class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://devfolio.co/projects/yaash-yet-another-ai-shell-192b">NAASH (Not another AI shell)</Link>
        </p>
        <p class="text-sm">
            An AI powered shell to help you enhance your terminal workflow
        </p>
        <p class="text-muted text-sm">Tech used: TypeScript, CLI , OpenAI API, GeminiAPI</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=6xZ1Gxxiu1U"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/team-gap"
                >GitHub</Link
            >
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/siddarth2810/rust-compiler">Compiler</Link>
        </p>
        <p class="text-sm">
             Compiles .teeny files into C, and then uses GCC to compile the C code into executables.
        </p>
        <p class="text-muted text-sm">Tech used: rust, gcc, bash, linux</p>
        <p class="text-muted text-sm">
            Links: <Link href="https://github.com/siddarth2810/rust-compiler"
                >GitHub</Link
            >
        </p>
    </div>
    <div class="flex flex-col gap-2">
        <p>
            <Link href="https://github.com/Doc-Appointment-System">Doc-Appointment System</Link>
        </p>
        <p class="text-sm">
            A MERN Stack application for doctor appointment booking, featuring a doctor application process and an
administrator dashboard.
        </p>
        <p class="text-muted text-sm">
            Tech used: MERN, Azure, YAML
        </p>
        <p class="text-muted text-sm">
            Links: <Link href="https://www.youtube.com/watch?v=cprrmRxr2PE"
                >Video</Link
            >
            <Link href="https://github.com/siddarth2810/doc-system-azure">GitHub</Link>
        </p>
    </div>
</section>
