---
import Layout from "../../layouts/Layout.astro";
import { RiArrowRightUpLine } from "react-icons/ri";
import blogs from "../../constants/blogs.json";
---

<Layout title="Siddarth Gundu • blogs">
  <h1 class="text-primary font-serif text-[2.5rem] tracking-tight">Writings</h1>
  <h2 class="text-title text-base font-medium tracking-tight">
    some blogs on  code, and tech.
  </h2>
    <div class="pt-3 flex flex-col gap-2">
      {
        blogs.map((blog) => (
          <div class="flex flex-col items-start">
            <a
              href={blog.link}
              target="_blank"
              rel="noopener noreferrer"
              class="text-black group relative -mx-3 w-full rounded-lg px-3 py-2 transition-all duration-300 ease-in-out
        hover:bg-[#895737]/10 md:hover:scale-105"
            >
              <div class="text-title  md:group-hover:text-primary flex items-center justify-between text-sm font-medium tracking-tight">
                <h3>{blog.title}</h3>
                <RiArrowRightUpLine className="text-primary ml-0.5 opacity-0 transition-opacity duration-150 md:group-hover:opacity-100" />
              </div>
            </a>
          </div>
        ))
      }
    </div>
</Layout>
